.admin-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    width: 400px;
}

.popup-manage,
.vendor-manage,
.user-mange{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    transition: 0.2s ease-in-out;
    border: 1px solid #ff5148;
}

.popup-manage:hover,
.vendor-manage:hover,
.user-mange:hover {
    transform: scale(1.02);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}