/* 버튼 스타일 */
.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-weight: 500;
    font-size: var(--font-button);
    line-height: 1;
    padding: 10px 16px;
    border: 1px solid var(--border-color);
    background-color: var(--white-color);
    color: var(--black-color);
    cursor: pointer;
    transition: background-color .2s ease, color .2s ease, transform .1s ease, border-color .2s ease;
    user-select: none;
}

/* primary : 현잘발권 | 검색 | 등록 | 수정 */
.btn.btn--primary.is-red  { background-color: var(--main-color) !important; color: var(--white-color); }
.btn.btn--primary.is-red:hover { background-color: var(--main-hover-color) !important; }

/* outline : 등록 | 체크인 안함 | 체크인 */
.btn.btn--outline.is-gray { background: transparent; color: var(--gray-color); border-color: var(--bg-color); }
.btn.btn--outline.is-gray:hover{ border-color: var(--main-color); color: var(--main-color); }
.btn.btn--outline:hover { transform: none; }

/* ghost : 상세보기 -> */
.btn.btn--ghost { background: transparent; color: inherit; border-color: transparent; }
.btn.btn--ghost:hover { background: var(--bg-color); }

/* filter : 전체 | 패션 | 뷰티  */
.btn.btn--filter { border-radius: 9999px; padding: 10px 16px; font-size: var(--font-button); background: var(--white-color); color: var(--black-color); }
.btn.btn--filter.is-selected { background: var(--main-color) !important; color: var(--white-color) !important; border-color: var(--main-color) !important; }
.btn.btn--filter:not(.is-selected):hover {  border-color: var(--main-color); color: var(--main-color);}

/* label : 승인대기 | 승인완료 | 승인거부 */
.btn.btn--label.is-red {background-color: var(--main-hover-color); color: var(--white-color); }
.btn.btn--label.is-blue { background: var(--blue-color); color: var(--white-color); }
.btn.btn--label.is-gray {  background: var(--bg-color); color: var(--gray-color); }