.footer{
    position: sticky;
    height: 40px;
    bottom: 0;
    left: 0;
    width: 100vw;
    line-height: 40px;
    background: var(--bg-color);
    color: var(--gray-color);
    text-align: center;
    font-size: var(--font-caption);
}