/* 현장 발권 모달창 */
.onsite-container {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,.50);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

/* 모달 카드 */
.onsite-card {
    width: min(450px, 92vw);
    background: var(--white-color);
    border-radius: 10px;
    padding: 30px;
    box-shadow: var(--shadow);
    border: 1px solid var(--border-color);
    position: relative;
    animation: modal-pop .14s ease-out;
    display:flex;
    flex-direction: column;
    align-items:center;
    text-align:center;
}

@keyframes modal-pop {
    from { transform: scale(.98); opacity: .88; }
    to   { transform: scale(1);   opacity: 1; }
}

/* 기존 스타일은 거의 유지 */
.onsite-illust {
    width: 120px;
    display: block;
}

.onsite-message {
    display: inline-block;
    background-color: var(--bg-color);
    padding: 8px 20px;
    border-radius: 999px;
    font-size: var(--font-small);
    color: var(--darkgray-color);
    margin-bottom: 20px;
}

.onsite-title {
    font-size: var(--font-title);
    font-weight: var(--font-bold);
}

.onsite-detail{
    margin: 10px 0;
    line-height:1.5;
    font-weight: var(--font-regular);
}

.onsite-qr-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--bg-color);
    border-radius: 10px;
    padding: 20px;
    margin: 10px 0;
    width:100%;
}

.onsite-qr-left,
.onsite-qr-right,
.onsite-grid-item {
    flex: 1;
    text-align: center;
}

.onsite-qr-left {
    border-right: 1px solid var(--border-color);
    padding-right: 10px;
}

.onsite-qr-right {
    padding-left: 10px;
}

.onsite-label {
    font-size: var(--font-size-base);
    padding-bottom: 10px;
    font-weight : var(--font-semibold);
}

.onsite-msg {
    margin-bottom: 10px;
    color: var(--darkgray-color);
}

.onsite-value-red {
    font-size: var(--font-title-l);
    font-weight: var(--font-bold);
    color: var(--main-color);
}

.onsite-value-blue {
    font-size: var(--font-title-l);
    font-weight: var(--font-bold);
    color: var(--blue-color);
}

.onsite-qr-placeholder {
    width: 100px;
    height: 100px;
    background: var(--white-color);
    border: 1px dashed var(--border-color);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--gray-color);
    font-size: var(--font-small);
}

.onsite-qr-placeholder img {
    width: 100%;
    height: 100%;
}

.btn-area {
    width:100%;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    margin-top: 10px;
}

/* 버튼 */
.onsite-card .btn {
    width: 100%;
    border-radius: 999px;
    font-size: var(--font-button);
    font-weight: var(--font-semibold);
    padding: 15px 0;
}
