/* 예약관리 */

.reservation-container .rm-page{
  display: flex;
  flex-direction: column;
}

/* 타이틀 */
.reservation-container .rm-title{
    text-align: center;
    font-weight: var(--font-bold);
    font-size: var(--font-title-m);
    color: var(--black-color);
    margin: 30px;
}

