/* 폰트 */
@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-style: normal;
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    font-style: normal;
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    font-style: normal;
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
}

body {
    font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    background-color: var(--white-color);
    overflow-x: hidden;
    overflow-y: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

:root {
    --main-color: #FF5148;
    --main-hover-color: #E0443C;
    --black-color: #333333;
    --white-color: #ffffff;
    --gray-color: #B0B0B0;
    --gray-hover-color: #d9d9d9;
    --blue-color: #287ED8;
    --blue-hover-color: #0056b3;
    --border-color: #E0E0E0;
    --bg-color: #F5F5F7;

    /* Font Sizes */
    --font-title: 22px;
    --font-subtitle: 18px;

    --font-body: 18px;
    --font-size-base: 16px;
    --font-small: 14px;
    --font-caption: 12px;
    --font-button: 14px;
}

.container{
    width: 100%;
    height: auto;
}

.inner {
    margin: 0 auto;
    padding: 16px;
}

/* 모바일 : 600px */
@media (max-width: 600px) {
    .inner {
        max-width: 100%;
        padding: 16px;
    }
}

/* 태블릿 : 601px ~ 1024px */
@media (min-width: 601px) and (max-width: 1024px) {
    .inner {
        max-width: 90%; /* 좌우 여백 조금 */
        padding: 18px;
    }
}

/*  PC : 1025px 이상 */
@media (min-width: 1025px) {
    .inner {
        max-width: 900px;
        padding: 20px;
    }
}
